h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-left: 550px;
    margin-right: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

h2{
  
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin-bottom: 15px;
}

.r {
    margin-top: 8px;
}

ul {
    list-style-type: disc;
}

#big {
    font-size: large;
}


